<div class="header">
  <input
    type="text"
    [formControl]="formSearch"
    nz-input
    placeholder="Search Name..."
  />
</div>

<div class="list-pokemon">
  <ng-container *ngFor="let item of (vm$ | async)!.results">
    <app-card
      (onClick)="showDetail($event)"
      [cardItem]="item"
      [cardItemImage]="item | imageUrl: DATA_TYPE.Pokemon"
    ></app-card>
  </ng-container>
</div>
<nz-pagination
  [nzPageIndex]="offset$ | async"
  (nzPageIndexChange)="onPageIndexChange($event)"
  (nzPageSizeChange)="onPageSizeChange($event)"
  [nzTotal]="(vm$ | async)!.count"
  nzShowSizeChanger
  [nzPageSize]="limit$ | async"
></nz-pagination>
